<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 notes" style="">
	<p id="notice"><%= notice %></p>
	<div class="h3">
	  <%= @note.title %>
	 </div>
	  <%= @note.description %>
</div>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
