<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 notes">
	<p id="notice" class="hidden"><%= notice %></p>
	<div class="container-fluid whiteContainer" >
    	<div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 navigation">
    		<%= link_to 'Home', notes_path, class: '' %>/ <%= @note.title %>
    	</div>
		<div class="h3 margin-top-md">
		  <%= @note.title %> <span><%= link_to '<i class="fa fa-pencil fa-fw"></i>'.html_safe, edit_note_path(@note), class:'btn btn-default btn-sm' %></span>
		</div>
		<p class="text-muted desc">
		  <%= raw @note.description %>
		</p>
	</div>	  
</div>



